body {
  font-family: cursive;
}
h2 {
  display: inline;
}
h2:first-child {
  background-color: rgb(228, 72, 15);
  padding: 0 10px 6px 10px;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
}
.logo {
  margin: 40px 0px 0px 20px;
}
.home {
  background-color: white;
  margin: 50px;
  padding: 20px;
  border-radius: 40px;
}
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30% 70%;
}

.grid-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 65% 35%;
}
.grid1 {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgb(245, 242, 242);
}
.grid2 {
  padding: 30px;
}

ul {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: grey;
}
ul li:first-child {
  font-weight: bold;
}

img {
  width: 40px;
  height: 38px;
  border-radius: 16px;
  float: left;
  margin: 18px;
}
button {
  border: none;
  outline: none;
}
.back-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.block {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.title {
  color: rgb(228, 72, 15);
}
.nav-bar {
  margin-top: 150px;
  height: 250px;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.nav-links li span {
  margin-left: 20px;
}
.nav-links li a:hover:first-child {
  color: orangered;
}
.points {
  margin-top: 90px;
}
.heading {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}
.heading li span {
  font-weight: lighter;
}

.streaming img {
  border: 2px solid orangered;
  padding: 3px;
  margin-left: -1px;
}

.search-bar input {
  background-color: #f4f4f4;
  width: 56%;
  margin-left: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  height: 20px;
}

.search-bar button {
  cursor: pointer;
  margin-left: 18px;
  padding: 10px;
  width: 15%;
  border-radius: 6px;
  background-color: rgb(228, 72, 15);
  color: white;
}
.popular-each button,
.popular-each-other button,
.popular-each-third button {
  padding: 10px;
  background-color: rgb(228, 72, 15);
  color: white;
  border-radius: 6px;
  margin-left: 18px;
}

.popular-each {
  background-color: violet;
  height: 380px;
  width: 220px;
  border-radius: 20px;
  color: white;
  letter-spacing: 1px;
}
.popular-each-third {
  border-radius: 20px;
  height: 190px;
  width: 280px;
  margin-top: -3px;
  color: white;
  position: relative;
}
.popular-each-third ul {
  position: absolute;
  left: 40px;
}
.popular-each-third button {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popular-each-third p {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.popular-each-other {
  position: relative;
  border-radius: 20px;
  margin-top: 14px;
  height: 180px;
  width: 140px;
  color: white;
}
.popular-each-other p {
  position: absolute;
  bottom: 5px;
  width: 100px;
  height: 40px;
  padding-top: 1px;
}
.first {
  background-image: url("/images/img1.jpg");
}
.first .description {
  background-color: rgb(2, 2, 121);
  opacity: 0.8;
}
.second {
  background-image: url("/images/img2.jpg");
}
.second .description {
  background-color: brown;
  opacity: 0.8;
}
.third {
  background-image: url("/images/img3.jpg");
}
.third .description {
  background-color: rgb(14, 82, 14);
  opacity: 0.8;
}
.fourth {
  background-image: url("/images/img4.jpg");
}
.fourth .description {
  background-color: rgb(187, 114, 31);
  opacity: 0.8;
}
.fiveth {
  background-image: url("/images/img5.jpg");
}
.fiveth .description {
  background-color: rgb(235, 102, 124);
  opacity: 0.8;
}
.popular-each-grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description {
  padding: 10px;
  border-radius: 10px;
  margin: 150px 10px 0 10px;
  color: white;
  line-height: 4vh;
}

.tutor-each {
  position: relative;
  margin-left: -10px;
}
.tutor-each button {
  position: absolute;
  top: 40px;
  right: 20px;
  border-radius: 50%;
  background-color: white;
  font-weight: lighter;
  font-size: large;
  cursor: pointer;
}
.offer-img {
  height: 200px;
  background-image: url("/images/cake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  position: relative;
  border-radius: 20px;
}
.offer-img ul {
  position: absolute;
  top: 20px;
  left: 10px;
  padding-left: 5px;
}

.offer-img ul li:first-child {
  color: rgb(212, 119, 85);
  font-weight: bolder;
}
.offer-img ul li:last-child {
  color: rgb(96, 140, 155);
  font-weight: bold;
  font-size: small;
}
.offer button {
  background-color: #f4f4f4;
  padding: 10px;
  color: orangered;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 10px;
}
